/listings/_form

<%= form_for @listing do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>
  
  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  
  <div>
    <%= form.label :max_guests %>
    <%= form.number_field :max_guests %>
  </div>
  
  <%= form.submit "Submit" %>
  
<% end %>