/listing/show
<div class="container">

  <h3><%= @listing.title %></h3>
 <label> Posted By : </label><%= @listing.user.username %><label> Email:</label><%= @listing.user.email %><br>
  <p>Description : <%= @listing.description %></p>
  <p>Price : <%= @listing.price %></p>
  <p>Address : <%= @listing.address %></p>
  <p>Max Guest : <%= @listing.max_guests %></p>

  <%= link_to "Edit", edit_listing_path(@listing) %>
</div>