
<%= form_for [listing, booking] do |form| %>
  <% if @errors.present? %>
    <div>
      <%= @errors %>
    </div>
  <% end %>
  <div>
    <%= form.label :num_guests %>
    <%= form.number_field :num_guests %>
  </div>
  <br>
  <div>
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>
  <div>
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>
   <%= form.submit "Book now" %>
<% end %>