
<center>

<%= form_for @user, :html => {:multipart => true} do |form| %>
  <div>
    <%= form.file_field :image %>
  </div>
  <div>
    <%= form.label :remote_image_url, "or image URL" %>
    <%= form.text_field :remote_image_url %>
  </div>
  
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>
  
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  
  <div>
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>
  
  <%= form.submit "Submit" %>
  
<% end %>

</center>