<center>
<div id="container">
  <h2>Your Profile</h2>
  <%= image_tag @user.image_url(:thumb).to_s %>
  <h3>Name : <%= @user.name%></h3>
  <h3>Username : <%= @user.username%></h3>
  <h3>Email : <%= @user.email%></h3>

  <%= link_to "Edit", edit_user_path(@user) %>
</div>


<h2>Your Bookings</h2>
<table>
  <tr>
    <th>Listing Title</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Num Guests</th>
    <th>Total Price</th>
    <th>Actions</th>
  </tr>

  <% @bookings.each do |booking| %>
    <tr>
      <td><%= link_to booking.listing.title, booking.listing %></td>
      <td><%= booking.start_date.strftime('%d %B %Y') %></td>
      <td><%= booking.end_date.strftime('%d %B %Y') %></td>
      <td><%= booking.num_guests %></td>
      <td><%= booking.total_price %></td>
      <td><%= link_to "Cancel Booking", booking, method: :delete %></td>
    </tr>
  <% end %>
</table>

</center>